html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blue;/**#FFDEA8;*/
}

/**
* Rabbit controls interfaces style
*/
.rabbit-control-interface
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}